<!-- Begin MailChimp Signup Form -->
<div class="header">Voluntari</div>

<div class="introtext">
    <span>Volunteers are vital to any tech event</span>
    <span>Where would you like to help?</span>
</div>

<div class="link"><a href="/events">See events that need volunteers</a></div>


<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
<div id="mc_embed_signup">
<form action="http://eventhandler.us2.list-manage1.com/subscribe/post?u=b76886bab37470b1e293804f6&amp;id=9ad5bd699e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	
<div class="userdeets">
	<input type="text" value="" name="FNAME" placeholder="First Name">
</div>
<div class="userdeets">
	<input type="text" value="" name="LNAME" placeholder="Last Name">
</div>
<div class="userdeets">
	<input type="email" value="" name="EMAIL" placeholder="Email Address">
</div>
<div class="location">
    <div class="name">England</div>
    <ul>
    	<li><input type="checkbox"><label>North East England</label></li>
			<li><input type="checkbox"><label>North West England</label></li>
			<li><input type="checkbox"><label>Yorkshire and Humber</label></li>
			<li><input type="checkbox"><label>East Midlands</label></li>
			<li><input type="checkbox"><label>West Midlands</label></li>
			<li><input type="checkbox"><label>East of England</label></li>
			<li><input type="checkbox"><label>London</label></li>
			<li><input type="checkbox"><label>South East England</label></li>
			<li><input type="checkbox"><label>South West England</label></li>
		</ul>

<div class="name">Ireland</div>
    <ul>
    	<li><input type="checkbox"><label>Ireland</label></li>
		</ul>

<div class="name">Northern Ireland</div>
    <ul>
    	<li><input type="checkbox"><label>Northern Ireland</label></li>
		</ul>

<div class="name">Scotland</div>
    <ul>
    	<li><input type="checkbox"><label>Scotland</label></li>
		</ul>

<div class="name">Wales</div>
    <ul>
    	<li><input type="checkbox"><label>Wales</label></li>
		</ul>

</div>

	<div class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>	

	<div class="clear">
		<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="submit">
	</div>
</form>



</div>