<!doctype html> 
<html>
	<head>
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>

		<!-- Begin MailChimp Signup Form -->
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="./javascripts/form.js" type="text/javascript"></script>
		<div class="header">Volunteer</div>

		<div class="introtext">
		    <span>Volunteers are vital to any tech event</span>
		    <span>Where would you like to help?</span>
		</div>

		<div class="link"><a href="/events">See events that need volunteers</a></div>


		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
		<div>
		<form action="/" method="POST" id="mailChimpForm">
		<form id="mailChimpForm">
		<div class="userdeets">
			<input type="text" value="" name="FNAME" id="JS-FNAME" placeholder="First Name">
		</div>
	<div class="error hidden"id="JS-EFNAME"><div>Error! You left your First Name out!</div></div></li>
		<div class="userdeets">
			<input type="text" value="" name="LNAME" id="JS-LNAME" placeholder="Last Name">
		</div>
	<div class="error hidden" id="JS-ELNAME"><div>Error! You left your Last Name out!</div></div></li>
		<div class="userdeets">
			<input type="email" value="" name="email" id="JS-EMAIL" placeholder="Email Address">
		</div>
	<div class="error hidden" id="JS-EEMAIL"><div>Error! You left your Email Address out!</div></div>
		</li>
		<div class="location">
			<fieldset>
		    <div class="name">England</div>
		    	<ul class="hidden">
		    		<li class="checkedall"><input type="checkbox" class="checkall"><label for="Check_All_Locations">All of England</label></li>
		    		<li><input type="checkbox" class="England" id="North_East_England"><label for="North_East_England">North East England</label></li>
						<li><input type="checkbox" class="England" id="North_West_England"><label for="North_West_England">North West England</label></li>
						<li><input type="checkbox" class="England" id="Yorkshire_and_Humber"><label for="Yorkshire_and_Humber" >Yorkshire and Humber</label></li>
						<li><input type="checkbox" class="England" id="East_Midlands"><label for="East_Midlands">East Midlands</label></li>
						<li><input type="checkbox" class="England" id="West_Midlands"><label for="West_Midlands">West Midlands</label></li>
						<li><input type="checkbox" class="England" id="East_of_England"><label for="East_of_England">East of England</label></li>
						<li><input type="checkbox" class="England" id="London"><label for="London">London</label></li>
						<li><input type="checkbox" class="England" id="South_East_England"><label for="South_East_England">South East England</label></li>
						<li><input type="checkbox" class="England" id="South_West_England"><label for="South_West_England">South West England</label></li>
						<li><input type="submit" onclick="return exports.formGet(this)" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="submit"></li>
						<div class="error hidden"><div>Error! Something's wrong!</div></div></li>
				</ul>
			</fieldset>
		</div>

		<div class="location">	
			<fieldset>
				<div class="name">Ireland</div>
				    <ul class="hidden">
				    	<li><input type="checkbox" class="Ireland" id="Ireland"><label for="Ireland">Ireland</label></li>
				    	<li><input type="submit" onclick="return exports.formGet(this)" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="submit"></li>
						<div class="error hidden"><div>Error! Something's wrong!</div></div></li>
						</ul>
			</fieldset>
		</div>

		<div class="location">
			<fieldset>
				<div class="name">Northern Ireland</div>
				    <ul class="hidden">
				    	<li><input type="checkbox" class="Northern_Ireland" id="Northern_Ireland"><label for="Northern_Ireland">Northern Ireland</label></li>
				    	<li><input type="submit" onclick="return exports.formGet(this)" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="submit"></li>
						<div class="error hidden"><div>Error! Something's wrong!</div></div></li>
						</ul>
			</fieldset>
		</div>
		
		<div class="location">
			<fieldset>
				<div class="name">Scotland</div>
				    <ul class="hidden">
				    	<li><input type="checkbox" class="Scotland" id="Scotland"><label for="Scotland">Scotland</label></li>
				    	<li><input type="submit" onclick="return exports.formGet(this)" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="submit"></li>
						<div class="error hidden"><div>Error! Something's wrong!</div></div></li>
						</ul>
			</fieldset>
		</div>

		<div class="location">
			<fieldset>
				<div class="name">Wales</div>
				    <ul>
				    	<li><input type="checkbox" class="Wales" id="Wales"><label for="Wales">Wales</label></li>
				    	<li><input type="submit" onclick="return exports.formGet(this)" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="submit">
				    	<div class="error hidden"><div>Error! Something's wrong!</div></div></li>
						</ul>
			</fieldset>
		</div>

		</div>

			<div class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>	

		</form>

		</div>
		<script src="./javascripts/frontendCheck.js" type="text/javascript"></script>
		</body>
	</html>